@tailwind base;
@tailwind components;
@tailwind utilities;

.roboto{
    font-family: 'Roboto Mono', monospace;
    }

.monserat{
    font-family: 'Montserrat', sans-serif;
}

@layer utilities {
    @variants responsive {
      /* Hide scrollbar for Chrome, Safari and Opera */
      .no-scrollbar::-webkit-scrollbar {
          display: none;
      }

      /* Hide scrollbar for IE, Edge and Firefox */
      .no-scrollbar {
          -ms-overflow-style: none;  /* IE and Edge */
          scrollbar-width: none;  /* Firefox */
      }
    }
  }